<h2>List of danish cities in Fyn</h2>
<ul>
  <li class="toplaner">Odense</li>
  <li class="midlaner">Svendborg</li>
  <li class="toplaner">Faaborg</li>
  <li class="midlaner">Nyborg</li>
  <li class="toplaner">Assens</li>
</ul>