<h2>List of danish cities in Jutland</h2>
<ul>
  <li class="toplaner">Aarhus</li>
  <li class="midlaner">Vejle</li>
  <li class="toplaner">Horsens</li>
  <li class="midlaner">Aalborg</li>
  <li class="toplaner">Esbjerg</li>
</ul>