<h2>List of danish cities in Sjælland</h2>
<ul>
  <li class="toplaner">Copenhagen</li>
  <li class="midlaner">Roskilde</li>
  <li class="toplaner">Holbæk</li>
  <li class="midlaner">Sorø</li>
  <li class="toplaner">Helsingør</li>
</ul>