h1{
    text-align:center;
}

li {
    font-size: 1rem;
    width: 200px;
    margin: 8px;
    padding: 8px;
    list-style: none
    }
    .midlaner {background-color: #d60d61}
    .toplaner {background-color: #09f11c}
